:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: fit-content;
  height: 100%;
  padding-bottom: 32px;
  background: aliceblue;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 700;
  font-size: 18px;
  color: #c9107d;
  text-decoration: inherit;
}
a:hover {
  color: #10a560;
}

body {
  height: fit-content;
  margin: 0;
  display: flex;
  min-width: 320px;
  background-color: aliceblue;
  padding-top: 72px;
  padding-bottom: 24px;
  box-sizing: border-box;
  height: 100%;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  padding: 0;
  list-style-type: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  width: fit-content;
}

input {
  background: transparent;
  border: solid 1px #591ac7;
  color: black;
  padding: 12px 12px;
  border-radius: 8px;
  font-size: 22px;
}

input::placeholder {
  color: black;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 12px 40px !important;
  font-size: 22px !important;
  font-weight: 500;
  font-family: inherit;
  background-color: #591ac7;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #4f56df !important;
}
button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #18242e;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
